.my-profile-wrap {
  display: flex;
  width: 90%;
  justify-content: center;
}

.my-profile-wrap > * {
  width: 50%;
}

.my-profile-wrap > div {
  display: flex;
  flex-direction: column;
}

.my-profile-rockets-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.my-profile-rockets-list > li {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
